apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Use the test overlay as the base
resources:
  - ../test

# Only patch the podStartup checker configuration
patches:
  - target:
      kind: ConfigMap
      name: cluster-health-monitor-config
      namespace: kube-system
    path: configmap.patch.yaml
