---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: checknodehealth-controller
  labels:
    app.kubernetes.io/name: cluster-health-monitor
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - watch
- apiGroups:
  - clusterhealthmonitor.azure.com
  resources:
  - checknodehealths
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - clusterhealthmonitor.azure.com
  resources:
  - checknodehealths/status
  verbs:
  - get
  - patch
  - update
